@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');
body{font-family: 'Gothic A1', sans-serif;}
p{font-family: 'Gothic A1', sans-serif; }
.frame{
    width: 800px;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
}
.header{
    padding: 40px 10px;
    text-align: center;
    background: #7a5c71;
    margin-bottom: 10px;
}
.logo{
    font-size:2em;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    padding:0 8px;
}
.logo-link{
    background:#7a5c71;
    color:#fff;
    text-decoration: none;
}
.line{
    border-bottom: 1px solid #aaa;
    margin: 0 20px;
}
.container{
    display:flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
.nav{
    width:150px;
    background: #7a5c71;
    color:#fff;
    border-radius: 0 5px 5px 0;
}
.nav-list{
    list-style: none;
    margin:0;
    padding: 5px 0;
}
.nav-item{
    margin: 10px 0;
}
.nav-link{
    display:block;
    text-align: center;
    text-decoration:none;
    padding:10px 10px;
    color: #fff;
}
.nav-link:hover{
    background: #2b132b;
}
.content{
    width:600px;
}
.footer {
    text-align: center;
    border-top: 1px solid #aaa;
    margin: 20px 20px 0;
    font-size: 12px;
  }